* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 35% 65%;
}

form {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}

input[type="file"] {
    display: block;
    margin-top: 16px;
}

.preview_wrap {
    width: 450px;
    height: 300px;
    margin: 16px 0;
    padding: 8px;
    border: 3px solid black;
    border-radius: 16px;
    box-sizing: border-box;
}

.preview {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.button_wrap {
    width: 450px;
}

.submit {
    display: block;
    border: none;
    border-radius: 8px;
    width: 40%;
    margin: auto;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
    background-color: salmon;
}

.container {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.container > h2 {
    width: 60%;
    margin: auto;
}

.container img {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 16px;
    border-radius: 16px;
}

