* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: sans-serif;
}

.comments_container {
    height: 100vh;
    position: relative;
}

.arrow_left {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    outline: none;
    cursor: pointer;
}

.arrow_right {
    height: 150px;
    width: 150px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.arrow_left span,
.arrow_right span {
    font-size: 150px;
}


.cards_comments {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card_comments {
    height: 300px;
    width: 300px;
    padding: 2rem;
    text-align: center;
    border: 3px solid blue;
}

.card_comments:nth-child(1),
.card_comments:nth-child(2),
.card_comments:nth-child(3),
.card_comments:nth-child(4),
.card_comments:nth-child(5),
.card_comments:nth-child(6) {
    display: none;
    opacity: 0;
}

.js_on .card_comments.show {
    display: block;
    animation: show 800ms ease-in-out forwards;
}

@keyframes show {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}