* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 400px;
    border: 5px solid;
    border-radius: 24px;
    position: relative;
}

.controls {
    width: 40%;
    height: 50px;
    margin: -25px 0 0 0;
    border: 3px solid black;
    /* border-radius: 16px; */
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.controls button {
    display: block;
    margin-left: 0.5px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: rgb(235, 118, 118);
    cursor: pointer;
}

.content {
    width: 100%;
    height: 90%;
    padding: 8px;
    font-size: 24px;
    text-align: justify;
    outline: none;
    border-radius: 24px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    box-sizing: border-box;
}

.content ul {
    display: block;
    margin: 40px;
}