body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONTROLS */

.controls {
    margin: 16px;
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.controls span {
    margin: 4px;
    cursor: pointer;
}

/* CARDS */

.cards {
    width: 400px;
    height: 400px;
    overflow: hidden;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
}

.background {
    width: 100%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 24px;
}

.informations {
    width: 100%;
    height: 55%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.informations h2 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin: 0;
}

.informations p {
    text-align: center;
    font-size: 18px;
    margin: 8px;
}

.card:nth-child(1){
    background-color: greenyellow;
    z-index: 3;
}

.card:nth-child(2){
    background-color: blue;
    z-index: 2;
}

.card:nth-child(3){
    background-color: blueviolet;
    z-index: 1;
}

.nslide {
    animation: slide 500ms ease-in-out forwards;
}

@keyframes slide {
    from {
        left: 0;
    }

    to {
        left: -400px;
    }
}