* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    height: 500px;
    border: 5px solid;
    border-radius: 24px;
    position: relative;
}

.controls {
    width: 60%;
    height: 50px;
    margin: -25px 0 0 0;
    border: 3px solid black;
    border-radius: 16px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.controls button {
    width: 100px;
    height: 99%;
}

.content {
    width: 100%;
    height: 95%;
    padding: 8px;
    font-size: 24px;
    outline: none;
    border-radius: 24px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    box-sizing: border-box;
}