* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    width: 350px;
    text-align: left;
    margin-bottom: 8px;
}

.title h2 {
    font-weight: 500;
}

.content {
    width: 350px;
    height: 350px;
    padding: 16px 8px;
    overflow: auto;
    border: 2px solid;
    border-radius: 8px;
    box-sizing: border-box;
}

.content::-webkit-scrollbar {
    width: 8px;

}

.content::-webkit-scrollbar-thumb {
    background-color: black;
    border-right: 0.5px solid transparent;
    background-clip: padding-box;
}

.content::-webkit-scrollbar-button,
.content::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track-piece,
.content::-webkit-scrollbar-corner {
    display: none;
}