* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="file"] {
    display: block;
    margin-top: 16px;
}

h3 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 24px 0 4px;
}

.preview_wrap {
    width: 450px;
    height: 300px;
    padding: 8px;
    border: 3px solid black;
    border-radius: 16px;
    box-sizing: border-box;
}

.preview {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

